body {
  width: 60%;
  margin: auto
}


.form-views.ng-animate{
    /* fix forms to top of cotnaining div */
    position: absolute;
}
/* enter animation */
.form-views.ng-enter {
  animation: slideInRight 0.5s both ease;
}

/* leave animation */

.form-views.ng-leave {
  animation: slideOutLeft 0.5s both ease;
}


/* ANIMATIONS
============================================================================= */

/* slide out to the left */
@keyframes slideOutLeft {
  to {
    transform: translateX(-1000%);
  }
}

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(1000%);
  }
  to {
    transform: translateX(0);
  }
}